<%- include ('partial/head') %>
<section id="about" class="container text-center">
  <h1>About</h1>
  <p style="font-size: larger">
    Singkat cerita, nama saya
    <span class="fw-bold text-decoration-underline">Muhammad Alim Kakani</span>,
    seorang mahasiswa dari fakultas keperawatan, salam kenal &#9996;<br />
    Jadi, tepatnya pada jam 14.00 sampai sekitar 16.00 pada tanggal 30 Januari
    2023 kami mendapat kuliah pakar yang berisikan informasi yang terlalu banyak
    untuk masuk ke kepala saya... jadi, mari kita kodingkan aja &#128517;
  </p>
  <p style="font-size: 150px">&#129336;</p>
  <a href="/" role="button" class="btn btn-lg btn-outline-primary"
    >Let's get started</a
  >
  <img class="about_img1" src="/gambar_1.png" alt="gambar_1" />
  <img class="about_img2" src="/gambar_2.png" alt="gambar_2" />
</section>
<%- include ('partial/footer') %>
