<%- include ('partial/head') %>
<section id="home" class="text-center container">
  <h1 style="text-decoration: none">
    Selamat Datang wahai<br /><span
      style="font-weight: 900; text-decoration: underline" contenteditable="true"
      >Perawat Teladan</span
    >
  </h1>
  <h3 class="fs-1 mt-5">&#128585;</h3>
  <p class="fs-5 mt-2">Pilihlah sesuai selera kalian guyss</p>
  <div class="container">
    <a href="/ppni" role="button" class="btn btn-lg btn-outline-primary pb-2"
      >PPNI</a
    >
    <a href="/nina" role="button" class="btn btn-lg btn-outline-primary pb-2"
      >NINA</a
    >
    <a href="/gillies" role="button" class="btn btn-lg btn-outline-primary pb-2"
      >Gillies</a
    >
    <a href="/icu" role="button" class="btn btn-lg btn-outline-primary pb-2">ICU</a>
    <a href="/ugd" role="button" class="btn btn-lg btn-outline-primary pb-2">UGD</a>
  </div>
  <div class="mt-5">
    <p class="fs-5 fw-bold">More about me ?</p>
    <h3>&#128071;</h3>
    <a href="/about" role="button" class="btn btn-lg btn-outline-primary"
      >About</a
    >
  </div>
</section>
<%- include ('partial/footer') %>
