<%- include ('partial/head') %>
<h1>UGD Method</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form action="/ugd" method="post">
        <div class="mb-3 mt-5">
          <label class="form-label" for="gawatDarurat"
            >Pasien Kasus Gawat Darurat</label
          >
          <input
            id="gawatDarurat"
            name="gawatDarurat"
            class="form-control"
            type="number"
            min="0"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="mendesak">Pasien Kasus Mendesak</label>
          <input
            id="mendesak"
            name="mendesak"
            class="form-control"
            type="number"
            min="0"
            required
          />
        </div>
        <div class="mb-3">
          <label class="form-label" for="tidakMendesak"
            >Pasien Kasus Tidak Mendesak</label
          >
          <input
            id="tidakMendesak"
            name="tidakMendesak"
            class="form-control"
            type="number"
            min="0"
            required
          />
        </div>
        <button
          class="btn btn-md btn-primary mt-2"
          type="submit"
          value="submit"
        >
          Cari Hasil
        </button>
      </form>
    </div>
    <div class="col-md-6 page-img">
      <img
        class="shadow rounded form-image1"
        width="320"
        height="240"
        src="/UGD_1.png"
        alt="gambar1"
      />
      <img
        class="shadow rounded form-image2"
        width="320"
        height="240"
        src="/UGD_2.png"
        alt="gambar2"
      />
    </div>
  </div>
  <!------------------------------- Hasil Section ----------------------------->

  <% if (hasilUgd <= 0) { %>
  <div></div>
  <% }else { %>
  <div class="mt-2">
    <p><strong>Hasilnya adalah :</strong></p>
    <div class="w-25 h-25 shadow rounded text-bg-light p-3">
      <% hasilUgd.forEach(i => { %>
      <p><%= i %></p>
      <% }); %>
    </div>
  </div>
  <% } %>
</div>
<%- include ('partial/footer') %>
